@use 'mixin'as *;

.map {
  position: relative;
  width: 100%;
  overflow: hidden;

  &__container {
    width: 100%;
    height: 50vh;

    @include main {
      height: 40vh;
    }
  }

  &__title {
    display: none;
    position: absolute;
    z-index: 2;
    padding: .5rem 1rem;
    color: var(--accent);
    background-color: var(--dark);
    border: 1px solid var(--border);
    border-radius: .5rem;
    font-size: 0.8em;
    box-shadow: 0 0 .5rem rgba(var(--accent-rgb), .15);
    pointer-events: none;
  }
}