@use 'mixin'as *;

.modals {
  --transition-time   : 0.3s;
  position            : fixed;
  left                : 0;
  top                 : 0;
  right               : 0;
  bottom              : 0;
  display             : flex;
  align-items         : center;
  // justify-content  : center;
  height              : 100%;
  width               : 100%;
  overflow            : hidden;
  opacity             : 0;
  visibility          : hidden;
  z-index             : 250;

  &::before {
    content         : "";
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    backdrop-filter : blur(3px);
    background-color: rgba(0,0,0, 0.4);
    z-index         : 1;
    pointer-events  : none;
  }
}

.modals.is-open {
  opacity   : 1;
  visibility: visible;
}

.modals.visible {
  opacity   : 1;
  visibility: visible;
}

.popup-card {
  position: relative;
  display : none;
  z-index : 2;

  .close {
    position: absolute;
    top     : 2rem;
    right   : 2rem;
    z-index : 5;

    @include sm {
      top  : 1rem;
      right: 1rem;
    }
  }
}

.popup-card.modal-open {
  display: block;
}

.fadeIn {
  animation: fadeIn var(--transition-time) forwards;
}

.fadeOut {
  animation: fadeOut var(--transition-time) forwards;
}



@keyframes fadeIn {
  from {
    opacity  : 0;
    transform: translateZ(-100%);
  }

  to {
    opacity  : 1;
    transform: translateZ(0);
  }
}


@keyframes fadeOut {
  from {
    opacity  : 1;
    transform: translateZ(0);
  }

  to {
    opacity  : 0;
    transform: translateZ(-100%);
  }
}