@use 'mixin'as *;

.modals {
  --transition-time   : 0.3s;
  position            : fixed;
  left                : 0;
  top                 : 0;
  right               : 0;
  bottom              : 0;
  display             : flex;
  align-items         : center;
  // justify-content  : center;
  height              : 100%;
  width               : 100%;
  overflow            : hidden;
  opacity             : 0;
  visibility          : hidden;
  z-index             : 250;

  &::before {
    content         : "";
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    backdrop-filter : blur(4px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index         : 1;
    pointer-events  : none;
  }
}

.modals.is-open {
  opacity   : 1;
  visibility: visible;
}

.modals.visible {
  opacity   : 1;
  visibility: visible;
}

.popup-card {
  position: relative;
  display : none;
  z-index : 2;

  .close {
    position: absolute;
    top     : 2rem;
    right   : 2rem;
    z-index : 5;

    @include sm {
      top  : 1rem;
      right: 1rem;
    }
  }
}

.popup-card.modal-open {
  display: block;
}

.fadeIn {
  animation: fadeIn var(--transition-time) forwards;
}

.fadeOut {
  animation: fadeOut var(--transition-time) forwards;
}



@keyframes fadeIn {
  from {
    opacity  : 0;
    transform: translateZ(-100%);
  }

  to {
    opacity  : 1;
    transform: translateZ(0);
  }
}


@keyframes fadeOut {
  from {
    opacity  : 1;
    transform: translateZ(0);
  }

  to {
    opacity  : 0;
    transform: translateZ(-100%);
  }
}

.modal-form {
  max-width       : 72rem;
  width           : 100%;
  position        : relative;
  margin          : 0 auto;
  padding         : 4rem;
  background-color: var(--bg-light);
  box-shadow      : 0 0.8rem 1.8rem -0.8rem rgba(var(--black-rgb), 0.12);
    overflow-y: auto;
  max-height: 80vh;
  @include border-radius(1.2, 0.8);


  @include sm {
    max-width: 90%;
    padding  : 2rem 1.4rem;
  }

  &__title {
    margin-bottom: 2rem;

    @include xs {
      margin-bottom: 1.5rem;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    color        : var(--surface-medium);
    @include safe-gap-column(1.5rem);

    p {
        font-size    : 0.9em;
    }

    ul {
      list-style  : disc;
      padding-left: 1.5rem;

      li {
        font-size    : 0.9em;
        margin-bottom: 0.5rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @include xs {
      margin-bottom: 2rem;
    }
  }
}