@use 'mixin'as *;
@use 'fonts'as *;
@use 'variable'as *;
html {
  font-size: 62.5%;
  scrollbar-color: var(--bg-light) var(--dark);
  &.mega-menu-lock {
    overflow: hidden;
    body {
      padding-right: var(--scrollbar-width);
      background-color: var(--dark);
    }
    &:has(.header__bottom.fixed),
    &:has(.header__white) {
      body {
        background-color: var(--bg-light);
      }
    }
    .header {
      width: calc(100% - var(--scrollbar-width, 0));
    }
    .header__bottom.fixed {
      width: calc(100% - var(--scrollbar-width, 0));
    }
    .header__bottom.fixed {
      box-shadow: none;
    }
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-family-default;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: var(--text-muted);
  background-color: var(--bg-light);
  overflow-x: hidden;
  @include xs {
    font-size: 1.4rem;
  }
  @supports (font-size: clamp(1rem, 2rem, 3rem)) {
    @include fluid(font-size, 1.4, 1.8);
  }
}
[data-light_theme] {
  h1 {
    zoom: 0.9;
  }
}
@view-transition {
  navigation: auto;
}
::view-transition-old(root) {
  animation: fadeOut 0.8s ease forwards;
}
::view-transition-new(root) {
  animation: fadeIn 0.8s ease forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  padding: 0;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin: 0;
  padding: 0;
  font-family: $font-family-secondary;
  font-weight: 500;
  line-height: 105%;
  text-transform: uppercase;
  color: var(--dark-secondary);
}
h1,
.h1 {
  @include h1;
}
h2,
.h2 {
  @include h2;
}
h3,
.h3 {
  @include h3;
}

